.row{
  font-size: large;
  color: hwb(312 90% 6%);
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.artist{
  text-decoration: rgb(215, 222, 228);
  font-size: x-large;
}
.fs-5{
  font-weight: bolder;
  font-size: xx-large;
}
.text{
  text-align: center;
  font-style: oblique;
  color: #f3e7e7;
  font-weight: 800;
  font-size: x-large;
}
.button2{
text-align: center ;
}
.container{
  background-color:rgb(12, 22, 12);
  text-align: center;
  font-family: Cambria, Cochin, Georgia9d8fa, Times, 'Times New Roman', serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
